<connectionStrings>
	<add name="DataEntities" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=TuyenSinh;user id=sa;password=sa;MultipleActiveResultSets=True;persist security info=True;TrustServerCertificate=True" />
	<add name="DongBoTuyenSinhEntities" connectionString="metadata=res://*/OEDongBo.DB.csdl|res://*/OEDongBo.DB.ssdl|res://*/OEDongBo.DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=113.190.242.50,18585;initial catalog=DongBoTuyenSinh;persist security info=True;user id=vico;password=TuyenSinh_Sync_EBM@2025#;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
<!--oceantuyensinh tuyensinh@123-->