<connectionStrings>
	<add name="DataEntities" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=TuyenSinh;user id=sa;password=sa;MultipleActiveResultSets=True;persist security info=True;TrustServerCertificate=True" />
</connectionStrings>
<!--oceansalekit salekit@123-->