@font-face {
  font-family: "utm avo";
  src: url("../webfonts/utm avo.ttf") format("truetype");
}
@font-face {
  font-family: "josefinsans";
  src: url("../webfonts/josefinsans-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "utm avobold_italic";
  src: url("../webfonts/utm avobold_italic.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-boldcond";
  src: url("../webfonts/myriadpro-boldcond.otf") format("opentype");
}
@font-face {
  font-family: "myriadpro-bold";
  src: url("../webfonts/myriadpro-bold.otf") format("opentype");
}
@font-face {
  font-family: "robotocondensed-variablefont_wght";
  src: url("../webfonts/robotocondensed-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url("../webfonts/montserrat-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-cond";
  src: url("../webfonts/myriadpro-cond.otf") format("opentype");
}
@font-face {
  font-family: "utm avoitalic";
  src: url("../webfonts/utm avoitalic.ttf") format("truetype");
}
@font-face {
  font-family: "svn-bebas";
  src: url("../webfonts/svn-bebas neue pro expanded extrabold.otf") format("opentype");
}
@font-face {
  font-family: "swiss-condensedbold";
  src: url("../webfonts/utm-swiss-condensedbold.ttf") format("truetype");
}
.logo-title {
  border-bottom: 1px solid #ccc;
}
.logo-title a img {
  width: 250px;
}

.add-revenue-office {
  color: green !important;
}
.add-revenue-office:hover {
  text-decoration: underline;
}

.revenue-office {
  background: #ccc;
  padding: 10px;
}
.revenue-office span {
  color: #DE0000;
  font-weight: bold;
  white-space: nowrap;
}

.input-noborder {
  border: none !important;
}

.box_content td {
  height: 40px;
  position: relative;
}
.box_content td .btnedit-input, .box_content td .btnedit-input-debt {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
.box_content td .btnedit-input i, .box_content td .btnedit-input-debt i {
  font-size: 10px;
}
.box_content td .btnhistory-input {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
}
.box_content td .btnhistory-input i {
  font-size: 10px;
}

.box_content {
  overflow: auto !important;
}

.list_table tr th, .list_table tr td {
  padding: 2px;
}

.col-w90 {
  min-width: 90px !important;
}

.col-w65 {
  min-width: 65px !important;
}

.col-w200 {
  min-width: 250px !important;
}

h2 {
  margin-bottom: 5px !important;
}

.notice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 20px;
}
.notice span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 15px;
  border-radius: 10px;
  background: #DE0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.remind-page {
  background-image: url("images/banner-index.png");
  background-image: url("images/about-bg.png");
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 110px);
  padding: 40px 0;
}

.box-remind {
  background: #fceda9;
  height: 100%;
}
.box-remind .remind-works {
  padding: 10px;
}
.box-remind-user {
  width: 500px;
}

.remind-date {
  background: #fae37a;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}
.remind-date-bm {
  background: #f7cc02;
  padding: 10px;
  /*max-width: 500px;*/
  display: block;
  margin: auto;
  font-size: 20px;
}

.w100px {
  width: 100px !important;
}
