@font-face {
  font-family: "josefinsans";
  src: url("../webfonts/josefinsans-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "utm avobold_italic";
  src: url("../webfonts/utm avobold_italic.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-boldcond";
  src: url("../webfonts/myriadpro-boldcond.otf") format("opentype");
}
@font-face {
  font-family: "robotocondensed-variablefont_wght";
  src: url("../webfonts/robotocondensed-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url("../webfonts/montserrat-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-cond";
  src: url("../webfonts/myriadpro-cond.otf") format("opentype");
}
@font-face {
  font-family: "utm avoitalic";
  src: url("../webfonts/utm avoitalic.ttf") format("truetype");
}
@font-face {
  font-family: "svn-bebas";
  src: url("../webfonts/svn-bebas neue pro expanded extrabold.otf") format("opentype");
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
  color: inherit;
}
a:hover {
  color: inherit;
}

a, i, img, button {
  transition: 0.3s;
}

.form-select, .form-control {
  font-size: inherit !important;
}

.body-content img, .body-content video {
  max-width: 100%;
  height: auto !important;
}
.body-content iframe, .body-content table {
  max-width: 100%;
}
.body-content h2 {
  font-size: 1.5rem;
}
.body-content h3 {
  font-size: 1.25rem;
}
.body-content h4 {
  font-size: 1.125rem;
}
@media (max-width: 600px) {
  .body-content .btgrid .col.col-md-3 {
    flex-basis: 50%;
  }
  .body-content .btgrid .col.col-md-6 {
    flex-basis: 100%;
  }
}

.field-validation-error, #validationMessage {
  color: #c71313;
  font-size: 14px;
}

body {
  font-family: "myriadpro-cond";
}
@media (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }
}

.text-justify {
  text-align: justify;
}

.text-thin {
  font-weight: 300;
  color: #333333;
}

.text-gray {
  color: gray;
}

.text-small {
  font-size: 0.875rem;
}
@media (max-width: 600px) {
  .text-small {
    font-size: 0.75rem;
  }
}

.text-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  color: #00aeef;
  line-height: 35px;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 576px) {
  .text-title {
    font-size: 22px;
  }
}

.ul-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ul-reset * {
  padding: 0;
}

.container {
  /*@media (min-width:1390px) {
      max-width: calc(100% - 200px);
  }*/
}
@media (min-width: 576px) {
  .container {
    max-width: 96%;
  }
}
@media (min-width: 1390px) {
  .container {
    max-width: 1300px;
  }
}

.btn-seemore {
  padding: 8px 12px;
  color: white;
  background: #00aeef;
  border-radius: 22px;
  border: 1px solid #00aeef;
}
@media (max-width: 576px) {
  .btn-seemore {
    font-size: 14px;
  }
}
.btn-seemore i {
  font-size: 12px;
}
.btn-seemore:hover {
  background: white;
  color: #00aeef;
}
.btn-seemore.bg-white {
  color: #00aeef;
  border-color: white;
}
.btn-seemore.bg-white:hover {
  background: #2e3191 !important;
  color: black;
  border-color: #2e3191;
}
@media (max-width: 768px) {
  .btn-seemore.btn-seemore-md {
    display: none;
  }
}

.slick-dots {
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateX(-50%);
  transition: 0.5s;
}
.slick-dots li {
  margin: 2px;
}
.slick-dots button {
  display: block;
  width: 25px;
  height: 3px;
  padding: 0;
  border: none;
  background-color: white;
  text-indent: -99999px;
  transition: 0.5s;
}
.slick-dots li.slick-active button {
  background-color: #2e3191;
  transition: 0.5s;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  width: 30px;
  aspect-ratio: 1;
  border: none;
  background-color: #00aeef;
  z-index: 1;
  border-radius: 50%;
}
.slick-arrow i {
  color: white;
  font-size: 18px;
}

.slick-prev {
  left: -10px;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  .slick-prev {
    left: -15px;
  }
}

.slick-next {
  right: -10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  .slick-next {
    right: -15px;
  }
}

.slick-slide {
  margin: 0.75rem;
}

.slick-list {
  margin: -0.75rem;
}

.validation-summary-errors {
  color: red;
}

.slick-current .slick-nav-item {
  border: 1px solid #2e3191 !important;
}

.first-login .logo-slogan {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-login .logo-slogan img {
  height: 200px;
  display: block;
  margin: auto;
  margin-bottom: 1.5rem;
}
.first-login .logo-slogan .slogan {
  font-family: myriadpro-cond;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #00aeef;
}
.first-login .login-box {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00aeef;
}

.btn-login img {
  height: 50px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3), 0 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}
.btn-login img:hover {
  filter: brightness(1.1);
}

.hidden {
  display: none;
}

.second-login {
  position: relative;
}
.second-login .login-footer {
  height: 40px;
  background: #00aeef;
}
.second-login .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 40px);
}
.second-login .login-form > :first-child {
  transform: translateY(50px);
}
.second-login .login-form .title-img {
  height: 100px;
  margin-bottom: 1.5rem;
}
.second-login .login-form form {
  text-align: center;
  width: 400px;
  margin: auto;
}
.second-login .login-form form .input-container {
  position: relative;
  margin-bottom: 12px;
}
.second-login .login-form form .input-container span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-55%);
  width: fit-content;
  height: fit-content;
  font-family: "utm avobold_italic";
  color: #00aeef;
}
.second-login .login-form form .input-container input {
  border-radius: 10px;
  height: 50px;
  border: 1px solid #00aeef;
  width: 100%;
  padding-left: 57px;
  font-family: "utm avoitalic";
}
.second-login .login-form form .input-container input:focus {
  border: 1px solid #2e3191;
  outline: none;
}
.second-login .login-form form button {
  margin-top: 2rem;
}
.second-login .logo-anchor {
  position: absolute;
  top: 0;
  left: 60px;
  width: 160px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00aeef;
  border-top: none;
  border-radius: 0 0 50% 50%;
  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.25);
}
.second-login .logo-anchor img {
  width: 120px;
}

.header {
  padding: 1rem 0;
  height: 75px;
}
.header .logo {
  width: 225px;
  margin-right: 1.5rem;
}
.header .logo img {
  width: 100%;
}
.header .navbar-container {
  flex: 1;
  border-top: 1px solid #8dd8f8;
}
.header ul {
  float: right;
  width: fit-content;
  height: 100%;
  align-items: center;
  border-bottom: 2px solid #afe8fb;
  padding-top: 10px;
}
.header ul li {
  color: #00aeef;
  font-weight: 500;
  font-size: 1.25rem;
}
.header ul li:not(:last-child) {
  margin-right: 1rem;
}

.banner img {
  height: calc(100vh - 75px);
  width: 100%;
  object-fit: cover;
}

.about-page {
  background-size: cover;
  background-position: center;
  background-image: url("images/about-bg.png");
  height: 100vh;
}
.about-page .slide {
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.about-page .btns-text img, .about-page .menu-btn img {
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}
.about-page .logo-about {
  position: absolute;
  top: 30px;
  left: 30px;
}
.about-page .logo-about img {
  width: 225px;
}
.about-page .btns-text {
  position: absolute;
  top: 30px;
  right: 30px;
}
.about-page .btns-text p {
  color: white;
  margin-bottom: 0.5rem;
}
.about-page .btns-text img {
  height: 30px;
}
.about-page .btns-text div {
  position: relative;
  margin-bottom: 5px;
  height: 30px;
}
.about-page .btns-text div img {
  position: absolute;
  right: 0;
}
.about-page ul {
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 60px;
  height: 50px;
}
.about-page ul li:not(:last-child) {
  margin-right: 7px;
}
.about-page ul img {
  height: 50px;
}

/*.about-index, .map-first {
    background-size: cover;
    background-position: center;
    height: 100vh;

    .btns-text, ul {
        img {
            border-radius: 10px;
            box-shadow: 2px 4px 5px rgba(0,0,0,.3);
        }
    }
}*/
.about-index {
  background-image: url("images/about-bg.png");
}

.map-first {
  background-image: url("images/s-bg.png");
  align-items: center;
}
.map-first .map-container {
  height: 600px;
  width: 40%;
  display: flex;
  justify-content: right;
  position: relative;
}
.map-first .map-container .map-S {
  height: 100%;
}
.map-first .map-container a {
  position: absolute;
  display: inline-block;
  z-index: 2;
}
.map-first .map-container a img {
  width: 20px;
}
.map-first .map-container .btn-north {
  top: 50px;
  right: 240px;
}
.map-first .map-container .btn-mid {
  top: 200px;
  right: 220px;
}
.map-first .map-container .btn-south {
  bottom: 100px;
  right: 180px;
}
.map-first .map-container div {
  position: absolute;
}
.map-first .map-container .locations-north {
  top: 0;
  right: 188px;
}
.map-first .map-container .locations-north img {
  width: 160px;
}
.map-first .map-container .locations-mid {
  top: 150px;
  right: 120px;
}
.map-first .map-container .locations-mid img {
  width: 160px;
}
.map-first .map-container .locations-south {
  bottom: 90px;
  right: 180px;
}
.map-first .map-container .locations-south img {
  width: 25px;
}
.map-first .map-content {
  height: 500px;
  position: relative;
  flex: 1;
  padding-left: 2rem;
}
.map-first .map-content .row {
  width: 600px !important;
}
.map-first .map-content-title {
  font-size: 2rem;
  font-family: josefinsans;
  font-weight: bold;
}
.map-first .map-content * {
  color: white;
}
.map-first .map-content .col-4 {
  font-size: 1.25rem;
}
.map-first .map-content .content-slogan {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.8;
  width: 400px;
  /*font-family:robotocondensed-variablefont_wght;*/
  transform: translateY(-50px);
}
.map-first .map-content .content-slogan span {
  display: inline-block;
  margin-left: 2.25rem;
  font-size: 2.5rem;
  transform: translateY(-0.875rem);
}
.map-first .map-content .offices-number {
  font-size: 1.75rem;
  font-weight: 300;
  transform: translateX(-100px);
  transition: transform 0.5s;
  line-height: 1;
}
.map-first .map-content .offices-number span {
  cursor: pointer;
  color: #ED690F;
  font-weight: bold;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.office-list {
  font-family: josefinsans;
  max-height: 0;
  overflow: hidden;
}
.office-list.active {
  max-height: 500px;
  transition: 0.3s;
}
.office-list .office-list-title {
  font-weight: bold;
  font-size: 2.25rem;
  margin-top: 1rem;
}
.office-list .office-list-title img {
  width: 20px;
  object-fit: contain;
  transform: translateY(-7px);
}

.slide-text {
  font-family: montserrat;
  color: #1253B2;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.slide-text .item {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 330px;
  padding: 120px 20px;
  position: relative;
}
.slide-text .item .number {
  font-size: 5rem;
  color: #F25D2D;
  font-family: myriadpro-boldcond;
  text-align: center;
  line-height: 1;
  margin: 0;
  -webkit-text-stroke: 0.3px white;
  text-shadow: 2px 0 4px rgba(0, 0, 0, 0.5);
}
.slide-text .item1 {
  background-image: url("images/text-people-bg.png");
}
.slide-text .item2 {
  background-image: url("images/text-student-bg.png");
}
.slide-text .item3 {
  background-image: url("images/text-comeback-bg.png");
}
