@charset "UTF-8";
@font-face {
  font-family: "utm avo";
  src: url("../webfonts/utm avo.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  src: url("../webfonts/inter-variablefont_opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "josefinsans";
  src: url("../webfonts/josefinsans-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "utm avobold_italic";
  src: url("../webfonts/utm avobold_italic.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-boldcond";
  src: url("../webfonts/myriadpro-boldcond.otf") format("opentype");
}
@font-face {
  font-family: "myriadpro-bold";
  src: url("../webfonts/myriadpro-bold.otf") format("opentype");
}
@font-face {
  font-family: "robotocondensed-variablefont_wght";
  src: url("../webfonts/robotocondensed-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat";
  src: url("../webfonts/montserrat-variablefont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "myriadpro-cond";
  src: url("../webfonts/myriadpro-cond.otf") format("opentype");
}
@font-face {
  font-family: "utm avoitalic";
  src: url("../webfonts/utm avoitalic.ttf") format("truetype");
}
@font-face {
  font-family: "svn-bebas";
  src: url("../webfonts/svn-bebas neue pro expanded extrabold.otf") format("opentype");
}
@font-face {
  font-family: "swiss-condensedbold";
  src: url("../webfonts/utm-swiss-condensedbold.ttf") format("truetype");
}
.container {
  max-width: unset;
}

.header .navbar {
  position: relative;
}
.header .navbar li {
  font-size: 1rem;
  font-weight: 600;
}
.header .navbar .office-name {
  position: absolute;
  top: -20px;
  right: 0;
  text-align: left;
}

.fancybox-slide--iframe .fancybox-content {
  width: 90%;
  height: 100%;
  max-width: 90%;
  max-height: 100%;
}

.logo-title {
  border-bottom: 1px solid #ccc;
}
.logo-title a img {
  width: 250px;
}

.add-revenue-office {
  color: green !important;
}
.add-revenue-office:hover {
  text-decoration: underline;
}

.revenue-office {
  background: #ccc;
  padding: 10px;
}
.revenue-office span {
  color: #DE0000;
  font-weight: bold;
  white-space: nowrap;
}

.input-noborder {
  border: none !important;
}

.box_content td {
  height: 40px;
  position: relative;
}
.box_content td .btnedit-input, .box_content td .btnedit-input-debt {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
.box_content td .btnedit-input i, .box_content td .btnedit-input-debt i {
  font-size: 10px;
}
.box_content td .btnhistory-input {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
}
.box_content td .btnhistory-input i {
  font-size: 10px;
}

.box_content {
  overflow: auto !important;
}
.box_content.no-scroll {
  overflow: unset !important;
}

.list_table tr th, .list_table tr td {
  padding: 2px;
}

.col-w90 {
  min-width: 90px !important;
}

.col-w100 {
  min-width: 100px !important;
}

.col-w150 {
  min-width: 150px !important;
}

.col-w65 {
  min-width: 65px !important;
}

.col-w200 {
  min-width: 250px !important;
}

.col-w400 {
  min-width: 400px !important;
}

h2 {
  margin-bottom: 5px !important;
}

.notice {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  font-size: 20px;
}
.notice span {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 20px;
  height: 15px;
  border-radius: 10px;
  background: #DE0000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.remind-page {
  background-image: url("images/about-bg.png");
  /*background-image: url('images/pathway-discovery-bg.png');*/
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 110px);
  padding: 10px 0;
}
.remind-page .container {
  border-top: 1px solid white;
}
.remind-page input, .remind-page select {
  border-color: white;
  background: white;
  border-radius: 0;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0 100%);
}
.remind-page input {
  font-weight: 600;
}
.remind-page * {
  /*color:white;*/
}

.form-filter input, .form-filter select {
  height: 35px;
}
.form-filter .select2-container {
  min-width: 250px;
}
.form-filter .select2-container * {
  font-family: "Roboto", sans-serif !important;
  font-size: 12px;
}
.form-filter .select2 {
  /*width: 100% !important;*/
}
.form-filter .select2 .select2-selection {
  height: 33px;
  border-color: black;
}
.form-filter .select2 .select2-selection__placeholder, .form-filter .select2 .select2-selection__clear {
  height: 33px;
  display: flex;
  align-items: center;
}
.form-filter .select2 .select2-selection__arrow {
  height: 33px;
}
.form-filter .select2 .select2-selection__rendered {
  line-height: 33px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.box-remind {
  background: rgba(255, 255, 255, 0.4);
  height: 100%;
  padding: 10px;
}
.box-remind .remind-works {
  height: calc(100% - 34px);
  background: white;
  padding: 10px;
  border-radius: 0 0px 10px 10px;
}
.box-remind .remind-works-bm {
  height: 100%;
}
.box-remind-user {
  width: 500px;
}
.box-remind-title {
  background-image: url("images/remind-name-bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 12px 20px;
  color: white;
  font-size: 15px;
}
.box-remind-content {
  background-image: url("images/remind-content-bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 20px 10px;
}

.remind-date {
  background: #0560e8;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  /*max-width: 500px;*/
  color: white;
  font-size: 16px;
}
.remind-date-bm {
  background: #ccc;
  padding: 10px;
  /*max-width: 500px;*/
  display: block;
  margin: auto;
  font-size: 20px;
}

.w100px {
  width: 100px !important;
}

/*#groupWrapper {
    & > :nth-child(2n) {
        .col-w100 {
            background: #d4a604;
            color: white
        }

        .col-w65 {
            background: #fae496;
        }
    }

    & > :nth-child(2n+1) {
        .col-w100 {
            background: #31783c;
            color: white
        }

        .col-w65 {
            background: #97c99f;
        }
    }
}*/
.columnGroup-1 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-1 .col-w65 {
  background: #97c99f;
}

.columnGroup-2 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-2 .col-w65 {
  background: #fae496;
}

.columnGroup-3 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-3 .col-w65 {
  background: #97c99f;
}

.columnGroup-4 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-4 .col-w65 {
  background: #fae496;
}

.columnGroup-5 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-5 .col-w65 {
  background: #97c99f;
}

.columnGroup-6 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-6 .col-w65 {
  background: #fae496;
}

.columnGroup-7 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-7 .col-w65 {
  background: #97c99f;
}

.columnGroup-8 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-8 .col-w65 {
  background: #fae496;
}

.columnGroup-9 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-9 .col-w65 {
  background: #97c99f;
}

.columnGroup-10 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-10 .col-w65 {
  background: #fae496;
}

.columnGroup-11 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-11 .col-w65 {
  background: #97c99f;
}

.columnGroup-12 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-12 .col-w65 {
  background: #fae496;
}

.columnGroup-13 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-13 .col-w65 {
  background: #97c99f;
}

.columnGroup-14 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-14 .col-w65 {
  background: #fae496;
}

.columnGroup-15 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-15 .col-w65 {
  background: #97c99f;
}

.columnGroup-16 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-16 .col-w65 {
  background: #fae496;
}

.columnGroup-17 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-17 .col-w65 {
  background: #97c99f;
}

.columnGroup-18 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-18 .col-w65 {
  background: #fae496;
}

.columnGroup-19 .col-w100 {
  background: #31783c;
  color: white;
}
.columnGroup-19 .col-w65 {
  background: #97c99f;
}

.columnGroup-20 .col-w100 {
  background: #d4a604;
  color: white;
}
.columnGroup-20 .col-w65 {
  background: #fae496;
}

.columnGroup table.no-right-border th,
.columnGroup table.no-right-border td {
  /*border-right: none;*/
}

/* Nếu muốn, dùng thêm margin để che overlap */
.columnGroup table.no-right-border {
  margin-right: -1px;
}

.h-90 {
  height: 90px !important;
}

#groupWrapper {
  display: flex !important;
  gap: 0;
  /*border: 1px solid #ccc;*/
  /*border-radius: 6px;*/
  overflow: auto;
  border-right: 1px solid #ccc;
}

.columnGroup {
  flex-grow: 1;
  margin-right: -1px; /* để border không bị dày lên */
}
.columnGroup table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Segoe UI", sans-serif;
  border: none;
}
.columnGroup table th, .columnGroup table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}
.columnGroup thead th {
  /*background-color: #f0f4ff;*/
  font-weight: bold;
}
.columnGroup:hover {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}

[data-group-id=group-0] {
  flex-grow: 1;
  /*margin-right: -1px;*/
}
[data-group-id=group-0] th {
  background: #053d7d;
  color: white;
}

.thead-sticky th {
  position: sticky;
  top: -1px;
  z-index: 10;
}

#category3 {
  overflow: unset;
}
#category3 th {
  position: sticky;
  top: -7px;
  z-index: 10;
}
